body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.toc {
    position: sticky;
    top: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
}

.toc-line {
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: #000;
    content: '';
}

.toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.toc ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    display: block;
    padding: 5px 0;
}

.toc ul li a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    padding: 20px;
}
